/* * {
  border: 1px solid black;
} */

* {
  font-size: 62.5%;
}

body {
  /* background-image: url("wallpaper.jpg"); */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  font-family: "Montserrat", sans-serif;
}

.ctr-container-header {
  background-color: #212529;
}

.container-header {
  justify-content: center;
  display: relative;
  padding-top: 0.5rem;
}

.container-logo {
  justify-content: center;
  display: relative;
  padding-top: 1rem;
}

.header-berita {
  text-align: center;
  font-family: "Lora", serif;
  font-family: "Staatliches", cursive;
  font-size: 50px;
  margin: auto;
  width: 80%;
  padding: 15px;
  color: white;
}

.btn,
.bi {
  font-size: 1.6rem;
}

.bi-slack {
  font-size: 5rem;
  text-align: center;
  margin: 40px;
  color: white;
}

.navbar {
  margin-bottom: 4rem;
}

.profile.pic {
  padding: 2rem;
  border-radius: 50%;
}

.container-btn {
  position: relative;
}

.login-btn,
.regis-btn {
  color: white;
  float: right;
  width: 35%;
  height: 50%;
  border: none;
  background-color: rgb(51, 53, 61);
  border-radius: 5px;
  margin: 22px;
  display: inline;
  font-family: "Oswald", sans-serif;
  font-size: 16px;
}

.login-btn:hover,
.regis-btn:hover,
.view-news:hover,
input[type="submit"]:hover,
.view-main-news:hover,
.view-main-news:active,
.view-main-news:focus,
.view-main-news:active:focus {
  border: 1px rgb(51, 53, 61) solid;
  background-color: white;
  color: rgb(73, 73, 73);
  box-shadow: none;
  outline: none;
}

.regis-btn {
  margin-right: -10px;
}

.src-bar {
  width: 35rem;
  font-size: 1.5rem;
}

.src-btn {
  font-size: 2rem;
}

.card {
  margin-bottom: 1rem;
  font-size: 3rem;
  box-shadow: 2px 1px 4px 2px rgba(87, 87, 87, 0.5);
}

.bi-square-fill {
  padding: 0rem 1rem 0.5rem 1rem;
  font-size: 1rem;
}

.nav-item {
  font-family: "Oswald", sans-serif;
  width: 150px;
  display: inline;
  font-size: 2.5rem;
}

.color-white {
  color: white;
}

.right {
  float: right;
}

.side-card {
  background-color: white;
  color: rgb(51, 53, 61);
}

.card-title {
  padding-top: 2rem;
  font-size: 1.5rem;
  font-weight: 700;
}

.judul-berita {
  font-size: 3rem;
  padding-left: 1rem;
  padding-top: 1rem;
  padding-right: 1rem;
  font-weight: 700;
}

.konten-berita {
  font-size: 1.5rem;
  padding: 3rem 1rem 3rem 1rem;
  font-weight: 500;
  text-align: justify;
}

.kategori-berita,
.tanggal-berita {
  padding-left: 1rem;
  padding-bottom: 1rem;
  color: rgb(175, 6, 6);
  font-weight: 500;
  font-size: 1.5rem;
}

.comment-container {
  padding: 1rem;
  margin: 3rem;
  background-color: rgb(250, 242, 240);
  height: 28rem;
}

.header-comment {
  padding: 2.5rem 1rem 2.5rem 1rem;
  color: rgb(51, 53, 61);
  font-size: 2.5rem;
  font-weight: 700;
}

.space-comment {
  margin: 0rem 4.5rem 0rem 3rem;
  width: 90%;
  font-size: 1.5rem;
  text-align: justify;
  color: rgb(145, 145, 145);
}

input[type="submit"] {
  color: white;
  float: right;
  width: 15%;
  padding: 1rem;
  border: none;
  background-color: rgb(51, 53, 61);
  border-radius: 3px;
  margin: 22px;
  margin-right: 40px;
  font-family: "Oswald", sans-serif;
  font-size: 16px;
}

.main-container {
  border: none;
  border-radius: 4px;
}

.view-main-container {
  text-align: right;
}

.view-main-news {
  font-size: 1.5rem;
  background-color: rgb(51, 53, 61);
  width: 100%;
}

.view-news {
  font-family: "Oswald", sans-serif;
  font-size: 1.5rem;
  background-color: rgb(51, 53, 61);
  width: 40%;
}

.news-image {
  width: 100%;
}

.footer-kategori {
  font-size: 5rem;
}

@media only screen and (max-width: 1250px) {
  .container-btn {
    display: block;
  }

  .login-btn,
  .regis-btn,
  input[type="submit"] {
    width: 80%;
    height: 30%;
    margin: 20px;
    display: block;
  }

  .regis-btn {
    margin-top: -15px;
  }
}

.footer-p {
  font-size: 400rem;
}

@media only screen and (max-width: 820px) {
  .container-btn {
    display: block;
  }

  .login-btn,
  .regis-btn {
    width: 80%;
    height: 30%;
    margin: 20px;
    display: block;
  }

  .regis-btn {
    margin-top: -15px;
  }

  .header-berita {
    width: 100%;
    line-height: 8rem;
  }

  .bi-slack {
    line-height: 10rem;
  }
}

@media only screen and (max-width: 660px) {
  .bi-slack {
    line-height: 13rem;
  }

  .header-berita {
    width: 100%;
    line-height: 4.5rem;
  }

  .container-header {
    padding: 1.5rem;
  }

  .view-news {
    width: 100%;
  }

  .src-bar {
    width: 25rem;
  }
}
