.gradient-custom-4 {
  /* fallback for old browsers */
  background: #f095d4;

  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(
    to right,
    rgba(206, 123, 226, 1),
    rgba(255, 216, 223, 1)
  );

  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(
    to right,
    rgba(206, 123, 226, 1),
    rgba(255, 216, 223, 1)
  );
}
